<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper">
    </div>
    <div class="container-fluid all-show">
        <a class="navbar-brand enlarge-on-hover" href="https://app01.tgfone.com/one_service/home.php"><i class="fas fa-home"></i> Back to Home Page</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link logout-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>