

  <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
    <div class="wrapper">
      
    </div>
<div class="container-fluid all-show">
<a class="navbar-brand enlarge-on-hover" href="/"><i class="fas fa-undo"></i> Back </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link enlarge-on-hover" aria-current="page" href="/pos_data_report_index">POS Data</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle enlarge-on-hover" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          E-Tax 
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item enlarge-on-hover" href="/e_tax_index">E-Tax Home</a></li>
        <li><a class="dropdown-item enlarge-on-hover" href="/index_inv">E-Tax Invoice</a></li>
        <li><a class="dropdown-item enlarge-on-hover" href="/index_cn">E-Tax Credit Note</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link enlarge-on-hover" aria-current="page" href="/index_texcom">Texcom</a>
    </li>
    <li class="nav-item">
      <a class="nav-link enlarge-on-hover" aria-current="page" href="/web_gi_data_report">GL Data</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle enlarge-on-hover" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          คู่มือเว็ป
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item enlarge-on-hover" href="https://docs.google.com/presentation/d/12-INKHssS64pwgaaro_iewacS0V2bOgZj5paYa6IbQU/edit#slide=id.p" target="_blank">คู่มือ POS Data</a></li>
        <li><a class="dropdown-item enlarge-on-hover" href="https://docs.google.com/presentation/d/1t-2_J813ADA_P9hwYQpkdr6_HREHbQSKojQ08jwPGro/edit#slide=id.p" target="_blank">คู่มือ E-Tax</a></li>
        <li><a class="dropdown-item enlarge-on-hover" href="https://docs.google.com/presentation/d/1g1MSMoBX81XXhPLius1_PC60_lmjPyTfSOlKvX-ux5Y/edit#slide=id.g2db39be1712_0_0" target="_blank">คู่มือ Texcom</a></li>
      </ul>
    </li>
  </ul>
</div>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link logout-link" href="/logout">Logout</a>
  </li>
</ul>
</div>
</nav>